<!DOCTYPE HTML>
<html>

    <%- include("./components/head") -%>

    <body>

        <div class="gtco-loader"></div>

        <div id="page">

            <%- include("./components/header_navgation") -%>
            <%- include("./components/header_all") -%>
            <%- include("./components/contents/services") -%>
            <%- include("./components/contents/depoiment") -%>
            <%- include("./components/contents/subscribe") -%>

            <%- include("./components/footer") -%>  
        </div>

        <%- include("./components/go_to_top_button") -%>
        <%- include("./components/footer_scripts") -%>

    </body>
</html>

